<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="align-items-center ion-padding">

  <ion-card>

    <ion-card-content>

      <form [formGroup]="infoForm">

        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col sizeMd="6" size="12">
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeMd="6" size="12">
              <ion-item>
                <ion-label position="floating">Sobrenome</ion-label>
                <ion-input type="text" formControlName="sobrenome"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Apelido</ion-label>
                <ion-input type="text" formControlName="apelido"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Veículo</ion-label>
                <ion-select placeholder="Selecione um veículo" formControlName="veiculo">
                  <ion-select-option value="moto">Moto</ion-select-option>
                  <ion-select-option value="scooter">Scooter</ion-select-option>
                  <ion-select-option value="triciclo">Triciclo</ion-select-option>
                  <ion-select-option value="carro">Carro</ion-select-option>
                  <ion-select-option value="jeep">Jeep</ion-select-option>
                  <ion-select-option value="caminhonete">Caminhonete</ion-select-option>
                  <ion-select-option value="caminhão">Caminhão</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
      <form [formGroup]="credentialsForm">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nova senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Confirme a nova senha</ion-label>
                <ion-input type="password" formControlName="confirm_password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <ion-button expand="block" 
                  (click)="doUpdate()" 
                  [disabled]="!credentialsForm.valid || !infoForm.valid || !matchPassword() || loading">
        {{ loading ? 'Salvando' : 'Atualizar'}}
      </ion-button>

    </ion-card-content>

  </ion-card>
  
</ion-content>