<ion-content class="align-items-center ion-padding">
  <ion-button class="close ion-no-padding" icon-only color="secondary" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Denunciar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea [(ngModel)]="motivo" rows="8" placeholder="Nos diga o motivo da denúncia"></ion-textarea>
      <ion-button expand="block" class="primary" [disabled]="motivo.length < 10" (click)="close(true)">Denunciar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>