

ion-card {
    margin-top: 15%;
    padding-left: 3%;
    padding-right: 3%;
    background: rgba(255, 255, 255, 0.7);

    ion-card-title {
        text-align: center;
    }

    ion-textarea {
        border: solid #a1a1a1 0.7px;
        border-radius: 3px;
        padding: 10px;
        margin-bottom: 30px;
    }
}