<ion-content class="align-items-center ion-padding">
  <ion-button class="close ion-no-padding" icon-only color="secondary" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
  <ion-card>

    <ion-card-header>
      <ion-button *ngIf="auth.authenticated" class="favorite ion-no-padding" icon-only fill="clear" color="warning" (click)="favoritar()">
        <ion-icon name="star{{auth.isFavorito(place?.key) ? '' : '-outline'}}"></ion-icon>
      </ion-button>
      <ion-card-title class="ion-text-center">Informações do Local</ion-card-title>
      <ion-button *ngIf="auth.authenticated && (!place.denuncias || (place.denuncias && !place.denuncias[auth.user.uid]))" class="denuncia ion-no-padding" icon-only fill="clear" color="danger" (click)="denunciar()">
        <ion-icon name="warning"></ion-icon>
      </ion-button>
    </ion-card-header>

    <ion-card-content>

      <ion-row>
        <ion-col class="ion-text-center"><h3 style="font-weight: bold;">{{place?.nome}}</h3></ion-col>
      </ion-row>

      <br>
      <ion-row>
        <ion-col size="12"><h5 style="font-weight: bold;">Descrição</h5></ion-col>
        <ion-col size="12" class="ion-text-justify">{{place?.descricao}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="ion-text-capitalize"><span style="font-weight: bold;">Tipo:</span> {{place?.tipo}}</ion-col>
        <ion-col size="6" *ngIf="place?.distancia >= 1"><span style="font-weight: bold;">Distância:</span> {{ (place?.distancia | number:'1.2-2').toString().replace('.',',') }}Km</ion-col>
        <ion-col size="6" *ngIf="place?.distancia < 1"><span style="font-weight: bold;">Distância:</span> {{ place?.distancia*1000 | number:'1.0-0' }}m</ion-col>
      </ion-row>

      <ion-row *ngIf="auth.authenticated">
        <ion-col size="12"><span style="font-weight: bold;">Sua avaliação:</span></ion-col>
        <ion-col size="12" class="ion-text-center avaliacao">
          <ion-icon (mouseover)="novaNota=1" (mouseout)="novaNota=nota" (click)="avaliar(1)" [name]="novaNota >= 1 || nota >= 1 ? 'star' : 'star-outline'" color="warning"></ion-icon>
          <ion-icon (mouseover)="novaNota=2" (mouseout)="novaNota=nota" (click)="avaliar(2)" [name]="novaNota >= 2 || nota >= 2 ? 'star' : 'star-outline'" color="warning"></ion-icon>
          <ion-icon (mouseover)="novaNota=3" (mouseout)="novaNota=nota" (click)="avaliar(3)" [name]="novaNota >= 3 || nota >= 3 ? 'star' : 'star-outline'" color="warning"></ion-icon>
          <ion-icon (mouseover)="novaNota=4" (mouseout)="novaNota=nota" (click)="avaliar(4)" [name]="novaNota >= 4 || nota >= 4 ? 'star' : 'star-outline'" color="warning"></ion-icon>
          <ion-icon (mouseover)="novaNota=5" (mouseout)="novaNota=nota" (click)="avaliar(5)" [name]="novaNota >= 5 || nota >= 5 ? 'star' : 'star-outline'" color="warning"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12"><span style="font-weight: bold;">Avaliação geral:</span></ion-col>
        <ion-col size="12" class="ion-text-center avaliacao">
          <ion-icon name="star" color="warning" *ngFor="let i of mediaNota"></ion-icon>
          <ion-icon name="star-outline" color="warning" *ngFor="let i of mediaNotaVazio"></ion-icon>
        </ion-col>
      </ion-row>

    </ion-card-content>

  </ion-card>

</ion-content>