<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favoritos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of places" (click)="showPlace(item['key'])">
      <ion-button class="favorite ion-no-padding" slot="start" icon-only fill="clear" color="warning">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-label>
        {{item.nome.length > 20 ? item.nome.substr(0, 20)+'...' : item.nome}} - 
        <span class="sub" *ngIf="item?.distancia >= 1"><span style="font-weight: bold;">Distância:</span> {{ (item?.distancia | number:'1.2-2').toString().replace('.',',') }}Km</span>
        <span class="sub" *ngIf="item?.distancia < 1"><span style="font-weight: bold;">Distância:</span> {{ item?.distancia*1000 | number:'1.0-0' }}m</span>
      </ion-label>
      <div class="item-note" slot="end">
        {{item.tipo}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
