<ion-content class="align-items-center ion-padding">
  <ion-button class="close ion-no-padding" icon-only color="secondary" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="loginForm">

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="doLogin()" [disabled]="!loginForm.valid">Entrar</ion-button>

      </form>

    </ion-card-content>

  </ion-card>

</ion-content>