ion-content {
    --background: url(../../../assets/images/backgrounds/desert.jpg) 0 0/100% 100% no-repeat;
    background-position: center; 

    ion-card {
        margin-top: 15%;
        padding-left: 3%;
        padding-right: 3%;
        background: rgba(255, 255, 255, 0.7);

        ion-card-title {
            text-align: center;
        }

        ion-button {
            ion-icon {
                padding-right: 15px;
            }
        }

        ion-item {
            margin-bottom: 15px;
            --ion-background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #f1f1f1;
            border-radius: 10px;
        }
    }
}