<ion-content class="align-items-center ion-padding">
  <ion-button class="close ion-no-padding" icon-only color="secondary" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Cadastro</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="infoForm">

        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col sizeMd="6" size="12">
              <ion-item>
                <ion-label position="floating">Nome</ion-label>
                <ion-input type="text" formControlName="nome"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col sizeMd="6" size="12">
              <ion-item>
                <ion-label position="floating">Sobrenome</ion-label>
                <ion-input type="text" formControlName="sobrenome"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Apelido</ion-label>
                <ion-input type="text" formControlName="apelido"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Veículo</ion-label>
                <ion-select placeholder="Selecione um veículo" formControlName="veiculo">
                  <ion-select-option value="moto">Moto</ion-select-option>
                  <ion-select-option value="scooter">Scooter</ion-select-option>
                  <ion-select-option value="triciclo">Triciclo</ion-select-option>
                  <ion-select-option value="carro">Carro</ion-select-option>
                  <ion-select-option value="jeep">Jeep</ion-select-option>
                  <ion-select-option value="caminhonete">Caminhonete</ion-select-option>
                  <ion-select-option value="caminhão">Caminhão</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
      <form [formGroup]="signupForm">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">E-mail</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Senha</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
      <ion-button expand="block" (click)="doSignup()" [disabled]="!signupForm.valid || !infoForm.valid">Cadastrar</ion-button>

    </ion-card-content>

  </ion-card>
  
  </ion-content>