/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.close, .denuncia {
    z-index: 99;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    --border-radius: 30px;
}
.favorite {
    z-index: 99;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
    padding: 0px;
    margin: 0px;
    --border-radius: 30px;
}

#search-places {
    .searchbar-input {
        border-radius: 10px !important;
        color: #fff;
        font-weight: 900;
        height: 35px;
        font-size: 18px;
        padding-inline-start: 48px;
        background: transparent;
    }

    ion-icon {
        color: #fff;
        width: 65px;
        position: absolute;
        height: 35px;
        top: 0px;
        left: -7px;
    }
}