ion-content {
    --background: url(../../../assets/images/backgrounds/road-montain.jpg) 0 0/100% 100% no-repeat;
    background-position: center; 
    ion-card {
        margin-top: 15%;
        padding-left: 2%;
        padding-right: 2%;
        background: rgba(255, 255, 255, 0.7);
        ion-card-content{
            padding-left: 10px;
            padding-right: 10px;
        }

        ion-card-title {
            text-align: center;
        }

        ion-button {
            ion-icon {
                padding-right: 15px;
            }
        }

        ion-item {
            margin-bottom: 10px;
            --ion-background-color: rgba(255, 255, 255, 0.7);
            border: 1px solid #f1f1f1;
            border-radius: 10px;
            ion-select {
                width: 100%;
            }
        }
    }
}