<ion-content class="align-items-center ion-padding">
  <ion-button class="close ion-no-padding" icon-only color="secondary" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Adicionar Local</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <form [formGroup]="form">

        <ion-item>
          <ion-label position="floating">Nome para o local</ion-label>
          <ion-input type="text" formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo de local</ion-label>
          <ion-select placeholder="Selecione um tipo" formControlName="tipo">
            <ion-select-option value="cachoeira">Cachoeira</ion-select-option>
            <ion-select-option value="trilha">Trilha</ion-select-option>
            <ion-select-option value="lanchonete">Lanchonete</ion-select-option>
            <ion-select-option value="barbearia">Barbearia</ion-select-option>
            <ion-select-option value="restaurante">Restaurante</ion-select-option>
            <ion-select-option value="pizzaria">Pizzaria</ion-select-option>
            <ion-select-option value="gruta">Gruta</ion-select-option>
            <ion-select-option value="praia">Praia</ion-select-option>
            <ion-select-option value="praça">Praça</ion-select-option>
            <ion-select-option value="parque">Parque</ion-select-option>
            <ion-select-option value="lago">Lago</ion-select-option>
            <ion-select-option value="faculdade">Faculdade</ion-select-option>
            <ion-select-option value="padaria">Padaria</ion-select-option>
            <ion-select-option value="outros">Outros</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Descrição do local</ion-label>
          <ion-textarea formControlName="descricao"></ion-textarea>
        </ion-item>

        <ion-button expand="block" (click)="cadastrar()" [disabled]="!form.valid">Adicionar</ion-button>

      </form>

    </ion-card-content>

  </ion-card>

</ion-content>