
ion-header {
  ion-title {
    text-align: center;
  }
}

#map_canvas {
  width: 100%;
  height: 100%;
}

#search-places {
  position: absolute;
  padding: 10px;
  border-radius: 36px;
  --background: transparent !important;
  ion-searchbar {
    height: 40px;
    --placeholder-opacity: 1.0;
    background: rgba(140, 193, 82, 0.7);
    border-radius: 10px;
    border-color: #434a54;
    --color: #434a54;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    padding: 0px;
    ion-icon {
      --width: 25px;
    }
  }
}

#list-places {
  position: absolute;
  top: 60px;
  z-index: 10;
  margin: 0px 15px;
  padding: 10px 7px;
  border-radius: 10px;
  width: calc(100% - 30px);
  background: #434a54;
  ion-item {
    color: #8cc152;
  }
}

.buttons {
  position: absolute;
  top: 70px;
  right: 10px;
  ion-button {
    display: block;
    margin-bottom: 10px;
    ion-icon {
      margin-right: 15px;
    }
  }
}