<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="secondary">
      Discover Routes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar id="search-places">
    <ion-searchbar [(ngModel)]="autocomplete.input" (ionChange)="updateSearchResults()" placeholder="Procure por algum lugar"></ion-searchbar>
    <ion-select hidden #select_tipo multiple="true" [(ngModel)]="tipos" (ngModelChange)="selectTipo()">
      <ion-select-option value="cachoeira">Cachoeira</ion-select-option>
      <ion-select-option value="trilha">Trilha</ion-select-option>
      <ion-select-option value="lanchonete">Lanchonete</ion-select-option>
      <ion-select-option value="barbearia">Barbearia</ion-select-option>
      <ion-select-option value="restaurante">Restaurante</ion-select-option>
      <ion-select-option value="pizzaria">Pizzaria</ion-select-option>
      <ion-select-option value="gruta">Gruta</ion-select-option>
      <ion-select-option value="praia">Praia</ion-select-option>
      <ion-select-option value="praça">Praça</ion-select-option>
      <ion-select-option value="parque">Parque</ion-select-option>
      <ion-select-option value="lago">Lago</ion-select-option>
      <ion-select-option value="faculdade">Faculdade</ion-select-option>
      <ion-select-option value="padaria">Padaria</ion-select-option>
      <ion-select-option value="outros">Outros</ion-select-option>
    </ion-select>
  </ion-toolbar>
  <ion-list id="list-places" [hidden]="!loadingPlaces && autocompleteItems.length == 0">
    <ion-item class="ion-no-padding" *ngIf="autocompleteItems.length == 0">Pesquisando...</ion-item>
    <ion-item class="ion-no-padding" *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
      {{ item.description }}
    </ion-item>
  </ion-list>

  <div id="map_canvas">
  </div>

  <div class="buttons" *ngIf="!auth.authenticated">
      <ion-button shape="round" size="small" fill="solid" color="secondary" (click)="modalLogin()"><ion-icon name="log-in"></ion-icon>Entrar</ion-button>
      <ion-button shape="round" size="small" fill="solid" color="secondary" (click)="modalSignup()"><ion-icon name="person-add"></ion-icon>Cadastrar</ion-button>
  </div>
  <div class="buttons" *ngIf="auth.authenticated">
    <ion-button shape="round" size="small" fill="solid" color="secondary" (click)="filter()"><ion-icon name="build"></ion-icon>Filtrar</ion-button>
    <ion-button shape="round" size="small" fill="solid" color="secondary" (click)="logout()"><ion-icon name="log-out"></ion-icon>Sair</ion-button>
  </div>

</ion-content>
